<div class="synth-wrapper">
    <div class="osc-selector pull-left">
        <span class="osc sine" ng-click="selectOsc('sine')" ng-class="{selected: sel=='sine'}"></span>
        <span class="osc tri" ng-click="selectOsc('triangle')" ng-class="{selected: sel == 'triangle'}"></span>
        <span class="osc saw" ng-click="selectOsc('sawtooth')" ng-class="{selected: sel == 'sawtooth'}"></span>
        <span class="osc sqr" ng-click="selectOsc('square')" ng-class="{selected: sel == 'square'}"></span>
    </div>
    <div class="wave-selector pull-left" audio-ctrl>
        <div class="slider clearfix">
            <div class="clearfix">
                <label for="" class="pull-left">Cutoff</label>
                <input type="text" value="100" knob change-type="cutoff" data-angleoffset="-125" data-anglearc="250" data-fgcolor="#ccc" data-step="2" data-min="10" data-max="15000">
            </div>
            <div class="clearfix">
                <label for="" class="pull-left" style="min-width:70px;">Q</label>
                <input type="text" value="0.5" knob change-type="q" data-angleoffset="-125" data-anglearc="250" data-fgcolor="#ccc" data-step="1" data-min="0.1" data-max="50">
            </div>
        </div>
        <div class="slider clearfix envelope" envelope-sel>
            <div class="pull-left"><div class="env attack"><p></p></div><p class="clearfix text-center">A</p></div>
            <div class="pull-left"><div class="env decay"><p></p></div><p class="clearfix text-center">D</p></div>
            <div class="pull-left"><div class="env sustain"><p></p></div><p class="clearfix text-center">S</p></div>
            <div class="pull-left"><div class="env release"><p></p></div><p class="clearfix text-center">R</p></div>
        </div>
        <div class="slider clearfix">
            
        </div>
    </div>
    <div id="keyboard" keyboard class="pull-left">
        <div class="white-keys key" data-note="C">
            
            <div class="black-keys key" data-note="C#"></div>
        </div>
        <div class="white-keys key" data-note="D">
            
            <div class="black-keys key" data-note="D#"></div>
        </div>
        <div class="white-keys key" data-note="E"></div>
        <div class="white-keys key" data-note="F">
            <div class="black-keys key" data-note="F#"></div>
        </div>
        <div class="white-keys key" data-note="G">
            <div class="black-keys key" data-note="G#"></div>
        </div>
        <div class="white-keys key" data-note="A">
            
            <div class="black-keys key" data-note="A#"></div>
        </div>
        <div class="white-keys key" data-note="B"></div>
    </div>
    <canvas id="visualizer" width="350" height="200"></canvas>
</div>
