<div class="synth-wrapper">
    <div class="wave-selector" audio-ctrl>
        <div class="slider clearfix">
            <span class="pull-left">Select the wave type:</span>
            <select name="" id="wavetype" class="pull-right">
                <option value="0" ng-click="changeOsc(0)">Sine</option>
                <option value="1" ng-click="changeOsc(1)">Square</option>
                <option value="2" ng-click="changeOsc(2)">Sawtooth</option>
                <option value="3" ng-click="changeOsc(3)">Triangle</option>
            </select>
        </div>
        <div class="slider clearfix">
            <span class="pull-left">Cutoff</span>
            <div class="cutoff-wrapper pull-right" filter-ctrl="cutoff">
                <span></span>
            </div>
        </div>
        <div class="slider clearfix">
            <span class="pull-left">Resonance</span>
            <div class="cutoff-wrapper pull-right" filter-ctrl="res">
                <span></span>
            </div>
        </div>
    </div>
    <div id="keyboard" keyboard class="clearfix">
        <div class="white-keys key" data-note="C">
            A
            <div class="black-keys key" data-note="C#">W</div>
        </div>
        <div class="white-keys key" data-note="D">
            S
            <div class="black-keys key" data-note="D#">E</div>
        </div>
        <div class="white-keys key" data-note="E">D</div>
        <div class="white-keys key" data-note="F">H
            <div class="black-keys key" data-note="F#">U</div>
        </div>
        <div class="white-keys key" data-note="G">J
            <div class="black-keys key" data-note="G#">I</div>
        </div>
        <div class="white-keys key" data-note="A">
            K
            <div class="black-keys key" data-note="A#">O</div>
        </div>
        <div class="white-keys key" data-note="B">L</div>
    </div>
</div>
